html{
	background-color: gray;
}
body{
	font-family: 'Montserrat', sans-serif;
	overflow:hidden;
}

.startScreen{
	position: absolute;
	width:100vw;
	height: 100vh;
	margin: 0px;
	background-color: rgba(0,0,0,0.5);
	top:0px;
	left:0px;
	display:flex;
	justify-content: center;
	align-items: center;
	transition:0.5s;
}


.startScreen.startScreenOver{
	position: absolute;
	width:100vw;
	height: 100vh;
	margin: 0px;
	background-color: rgba(0,0,0,0.5);
	top:0px;
	left:0px;
	display:flex;
	justify-content: center;
	align-items: center;
	transform:scale(0);
}

.typeName{
	background-color: rgba(0,0,0,0.6);
	border: 0px;
	height: 30px;
	width: 220px;
	color: white;
	font-family: Montserrat,Lato;
}
.submitName{
	background-color: red;
	border : 0px;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px black solid;
	transition: 0.5s;
}
.submitName:hover{
	background-color: green;
	transform: scale(1.1);
}

.container{
	width : 100vw;
	height : 100vh;
	margin: -8px ;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: gray;
}

.canvas{
	background-color: #00000055;
	/*width: 70vw;
	height: 120vw;*/
	border: 2px black solid;
/*	transform: rotate(180deg);*/
}

/*.joystickBig{
	background-color: black;
	width: 50px;
	height: 50px;
}*/

.joystickBig{
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: rgb(95,95,95);
	top: 5px;
	border: 3px black solid;
}

.joystickSmall{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: red;
	border: 2px black solid;
}

.chatIcon{
	width:50px;
	height:50px;
	position: fixed;
	bottom: 5px;
	right:10px;
	background-color: rgba(255,255,255,0.9);
	border-radius:25px;
	display:flex;
	justify-content: center;
	align-items: center;
	border: 2px black solid;
}


.chatSlider.isHidden{
	width: 100vw;
	height: 85vh;
	border-bottom: 2px black solid;
	position: absolute;
	margin:0px;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.5);
	transform: translateY(-85vh);
	transition: 1s;
	display:flex;
	justify-content: center;
}

.chatSlider.isActive{
	width: 100vw;
	height: 85vh;
	border-bottom: 2px black solid;
	position: absolute;
	margin:0px;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.5);
	transition: 1s;
	display:flex;
	justify-content: center;
}

.inputWrapper{
	position: absolute;
	bottom:0px;
	display: flex;

}

.typeText{
	height:30px;
	width:85vw;
	background-color: rgba(0,0,0,0.6);
	border :none;
	color: white;
	font-family: Montserrat, Lato;
}

.sendText{
	background-color: green;
	border: 0px;
	width:40px;
	height:30px;
	border-radius: 4px;
	font-family: Lato, Montserrat;
}

.chattingWrapper{
	height: calc( 85vh - 35px );
	width: 90vw;
	background-color: transparent;
	transition: 1s;
	overflow-y: auto;
}

.myChatBoxWrapper{
	width :90vw;
	min-height : 20px;
	background-color: transparent;
	display:flex;
	justify-content: right;
	align-items: center;
	padding: -5px;
	margin: -5px ;
}

.ChatBoxWrapper{
	width :90vw;
	min-height : 20px;
	background-color: transparent;
	display:flex;
	justify-content: left;
	align-items: center;
	padding: -5px;
	margin: -5px ;
}

.myChatBox{
	min-width: 35vw;
	max-width: 75vw;
	min-height:50px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
	padding:4px;
	color:white;
	overflow-wrap: break-word;
}

