html{
	font-size:16px;
}

body{
	font-family:Lato,san-serif;
}


/*Home page*/

/*Grid*/
.container{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:75px 1fr 1fr 1fr 1fr 1fr 1fr 70px;
	grid-template-areas:
	"nav"
	"content-wrapper-one"
	"content-wrapper-two"
	"content-wrapper-three"
	"content-wrapper-four"
	"content-wrapper-five"
	"content-wrapper-six"
	"footer";
	height:500vw;
	position:relative;
	top:0;
	left:0;
	margin:-8px;
	transition:0.5s;
}

/*Slider Bar*/

.navigation-slider {
	position:fixed;
	top:-40px;
	left:-190px;
	margin:40px;
	height:150vh;
	width:150px;
	background-color:black;
	z-index:1;
	transition:0.5s;
}

.navigation-icon{
	height:65px;
	width:65px;
	background-color:transparent;
	z-index:2;
	margin:3px;
	transform:translateY(-25%) translateX(-10%);
	position:relative;
}

.navigation-icon > .navigation-button {
	position:absolute;
	z-index:3;
	top:26px;
	left:7.5px;
	background-color:transparent;
	height:5px;
	width:50px;
	border-radius:5px;
}

.navigation-button::before{
	content:'';
	transform:translateY(10px);
	height:5px;
	width:50px;
	background-color:black;
	z-index:3;
	border-radius:5px;
	position:absolute;
	transition:0.5s;
}

.navigation-button::after{
	content:'';
	transform:translateY(-10px);
	height:5px;
	width:50px;
	background-color:black;
	z-index:3;
	border-radius:5px;
	position:absolute;
	transition:0.5s;
}

.navigation-overlay{
	position:absolute;
	height:100vh;
	width:100vw;
	transform:translateX(calc(150px - 100vw));
	background-color:rgba(0,0,0,0.5);
	transition:1s;
}



.navigation-text{
	padding:5px;
	margin:auto 5px;
	border-left:green 5px solid;
	list-style-type:none;
	position:relative;
	transform:translateY(70px);
	font-size:20px;
	transition:0.3s;
}

.navigation-text-selected{
	padding:5px;
	margin: auto 5px;
	border-left:red 5px solid;
	list-style-type:none;
	position:relative;
	transform:translateY(70px);
	font-size:20px;
}

.navigation-text-selected > div{
	text-decoration:none;
	color:white;
}

.navigation-text > a {
	text-decoration:none;
	color:white;
}

.navigation-selector{
	width:10px;
	height:10px;
	border-top:transparent 5px solid;
	border-right:transparent 5px solid;
	transform:rotate(45deg);
	position:absolute;
	top:25%;
	transition:0.1s;
}

.navigation-text:hover > .navigation-selector{
	border-top:white 5px solid;
	border-right:white 5px solid;
	transform:translateX(-40px) rotate(45deg);
	
}

.navigation-text:hover {
	border-left:yellow 5px solid;
}

.navigation-slider.isCurrentlyActive{
	transform:translateX(150px);
}

.navigation-slider.isCurrentlyActive > .navigation-overlay{
	transform:translateX(0px);
}

.navigation-slider.isCurrentlyActive ~ .container > .navigation-bar > .left-side > .navigation-icon > .navigation-button::before{
	transform:rotate(45deg);
	background-color:white;
}

.navigation-slider.isCurrentlyActive ~ .container > .navigation-bar > .left-side > .navigation-icon > .navigation-button::after{
	transform:rotate(-45deg);
	background-color:white;
}


.navigation-slider.isCurrentlyActive ~ .about-container > .navigation-bar > .left-side > .navigation-icon > .navigation-button::before{
	transform:rotate(45deg);
	background-color:white;
}

.navigation-slider.isCurrentlyActive ~ .about-container > .navigation-bar > .left-side > .navigation-icon > .navigation-button::after{
	transform:rotate(-45deg);
	background-color:white;
}
/*Navigation Bar*/

.navigation-bar{
	grid-area:nav;
	background-color:rgb(245,245,245);
	display:flex;
	flex-direction:right;
	justify-content:space-between;
	padding:20px 10px;
	border-bottom:1px solid gray;
}

.left-side{
	display:flex;
	flex-direction:right;
}

.left-side > .nav-button {
	text-decoration:none;
	color:gray;
	transition:0.5s;
	margin:3px;
	vertical-align:middle;
}

.left-side > .nav-button:hover {
	color:black;
	text-decoration:underline;
	font-size:17px;
}

#selected-button{
	color:black;
	text-decoration:underline;
	font-size:17px;
}

/*Content*/

.content-wrapper-one{
	grid-area:content-wrapper-one;
	background-color:skyblue;
	position:relative;
}

.content-wrapper-one > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-one > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}


.main-text{
	color:white;
	/*height:100%;
	width:100%;*/
	text-align:center;
	top:0%;
	position:relative;
	font-size:250%;
	transition:1s;
}

.sub-text{
	color:transparent;
	text-align:center;
	font-size:2vh;
	transition:1s;
}


.darken-layer:hover > .main-text{
	font-size:300%;
	color:white;
}

.darken-layer:hover > .sub-text{
	font-size:70%;
	color:white;
}


.content-wrapper-two{
	grid-area:content-wrapper-two;
	background-color:cyan;
	position:relative;
}

.content-wrapper-two > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-two > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}

.content-wrapper-three{
	grid-area:content-wrapper-three;
	background-color:fuchsia;
	position:relative;
}

.content-wrapper-three > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-three > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}

.content-wrapper-four{
	grid-area:content-wrapper-four;
	background-color:cyan;
	position:relative;
}

.content-wrapper-four > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-four > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}

.content-wrapper-five{
	grid-area:content-wrapper-five;
	background-color:cyan;
	position:relative;
}

.content-wrapper-five > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-five > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}

.content-wrapper-six{
	grid-area:content-wrapper-six;
	background-color:cyan;
	position:relative;
}

.content-wrapper-six > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-six > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}

.darken-layer{
	text-decoration:none;
}

.darken-layer:hover{
	background-color:rgba(0,0,0,0.5);
}

/*Footer*/

.footing{
	grid-area:footer;
	background-color:rgba(30,30,30,1);
	border-top:1px gray solid;
}

.footing-text{
	color:rgb(200,200,200);
	font-size:15px;
	text-align:center;
}

/*Abouts Page*/

/*Abouts Grid*/

.about-container{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:75px 1fr 1fr 1fr 1fr 70px;
	grid-template-areas:
	"about-nav"
	"about-content-wrapper-one"
	"about-content-wrapper-two"
	"about-content-wrapper-three"
	"about-content-wrapper-four"
	"about-footer";
	height:400vw;
	position:relative;
	top:0;
	left:0;
	margin:-8px;
}

/*Abouts Navigation bar*/

.about-container > .navigation-bar{
	grid-area:about-nav;
	background-color:rgb(245,245,245);
	display:flex;
	flex-direction:right;
	justify-content:space-between;
	padding:20px 10px;
	border-bottom:1px solid gray;
}

.about-container > .navigation-bar > .left-side{
	display:flex;
	flex-direction:right;
}

.about-left-side > .nav-button {
	text-decoration:none;
	color:gray;
	transition:0.5s;
	margin:5px;
}

.about-left-side > .nav-button:hover {
	color:black;
	text-decoration:underline;
	font-size:17px;
}

#selected-button{
	color:black;
	text-decoration:underline;
	font-size:17px;
}

/*Abouts Content*/

/*1 > About Me*/

.content-wrapper-zero-about{
	grid-area:about-content-wrapper-one;
	display:grid;
	grid-template-columns:1fr 1fr 1.3fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"about-text-zero about-text-zero about-image-zero";
	border-bottom:1px solid gray;
}

.about-image-zero{
	grid-area:about-image-zero;
	position:relative;
}

.about-image-zero > .darken-layer{
	width:100%;
	height:100%;
	background-color:rgb(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
}

.about-image-zero > .about-image-zero-img{
	width:100%;
	height:100%;
	position:absolute;
}

.about-image-zero:hover > .darken-layer{
	background-color:rgb(0,0,0,0.5);
}

.about-text-zero{
	grid-area:about-text-zero;
	background-color:rgb(40,40,40);
}

.about-image-zero > .darken-layer:hover > .sub-text{
	font-size:22px;
}

/*2 > Education*/

.content-wrapper-one-about{
	grid-area:about-content-wrapper-two;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"about-image-one about-text-one about-text-one";
	border-bottom:1px solid gray;
}

.about-image-one{
	grid-area:about-image-one;
	position:relative;
}

.about-image-one > .darken-layer{
	width:100%;
	height:100%;
	background-color:rgb(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
}

.about-image-one > .about-image-one-img{
	width:100%;
	height:100%;
	position:absolute;
}

.about-image-one:hover > .darken-layer{
	background-color:rgb(0,0,0,0.5);
}

.about-text-one{
	grid-area:about-text-one;
	background-color:rgb(40,40,40);
}

.about-image-one > .darken-layer:hover > .sub-text{
	font-size:22px;
}

/*3 > Qualifications*/

.content-wrapper-two-about{
	grid-area:about-content-wrapper-three;
	display:grid;
	grid-template-columns:1fr 1fr 1.3fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"about-text-two about-text-two about-image-two";
	border-bottom:1px solid gray;
}

.about-image-two{
	grid-area:about-image-two;
	position:relative;
}

.about-image-two > .darken-layer{
	width:100%;
	height:100%;
	background-color:rgb(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
}

.about-image-two > .about-image-two-img{
	width:100%;
	height:100%;
	position:absolute;
}

.about-image-two:hover > .darken-layer{
	background-color:rgb(0,0,0,0.5);
}

.about-text-two{
	grid-area:about-text-two;
	background-color:rgb(40,40,40);
}

.about-image-two > .darken-layer:hover > .sub-text{
	font-size:19px;
}

/*4 > Achievements*/

.content-wrapper-three-about{
	grid-area:about-content-wrapper-four;
	display:grid;
	grid-template-columns:1.3fr 1fr 1.3fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"about-image-three about-text-three about-text-three";
	border-bottom:1px solid gray;
}

.about-image-three{
	grid-area:about-image-three;
	position:relative;
}

.about-image-three > .darken-layer{
	width:100%;
	height:100%;
	background-color:rgb(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
}

.about-image-three > .about-image-three-img{
	width:100%;
	height:100%;
	position:absolute;
}

.about-image-three:hover > .darken-layer{
	background-color:rgb(0,0,0,0.5);
}

.about-text-three{
	grid-area:about-text-three;
	background-color:rgb(40,40,40);
}

.about-image-three > .darken-layer:hover > .sub-text{
	font-size:17px;
}

.about-text{
	color:white;
	font-size:100%;
	transition:0.3s;
}

#hidden{
	color:transparent;
}

#loaded{
	color:white;
}

.about-footing{
	grid-area:about-footer;
	background-color:rgba(30,30,30,1);
	border-top:1px gray solid;
}

/*Chess container Page*/

.chess-container{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:75px 1fr 1fr 70px;
	grid-template-areas:
	"chess-nav"
	"chess-content-wrapper-one"
	"chess-content-wrapper-two"
	"chess-footer";
	height:180vh;
	position:relative;
	top:0;
	left:0;
	margin:-8px;
}

/* Chess page navigation*/

.chess-navigation-bar{
	grid-area:chess-nav;
	background-color:rgb(245,245,245);
	display:flex;
	flex-direction:right;
	justify-content:space-between;
	padding:20px;
	border-bottom:1px solid gray;
}

.chess-left-side{
	display:flex;
	flex-direction:right;
}

.chess-left-side > .nav-button {
	text-decoration:none;
	color:gray;
	transition:0.5s;
	margin:5px;
}

.chess-left-side > .nav-button:hover {
	color:black;
	text-decoration:underline;
	font-size:17px;
}

.chess-content-wrapper-one{
	grid-area:chess-content-wrapper-one;
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr;
	height:100%;
	width:100%;
	grid-template-areas:
	"chess-image-one chess-text-one"
	;
}

/* Responsive designing*/

/* Responsive Home Page Gridding*/

@media all and (orientation:landscape){
	.container{
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows:75px 1fr 1fr 60px;
		grid-template-areas:
		"nav nav nav"
		"content-wrapper-one content-wrapper-two content-wrapper-three"
		"content-wrapper-four content-wrapper-five content-wrapper-six"
		"footer footer footer"
		;
		height:90vw;
		}
}

/*Responsive Home Page SlideBar*/

@media all and (max-height:350px){
	.navigation-slider.isCurrentlyActive{
		width:250px;
	}
	.navigation-text,.navigation-text-selected{
		transform:translateX(100px) translateY(-10px);
	}
}
