body{
	font-family:Lato,san-serif;
}


/*Home page*/

/*Grid*/
.container{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:75px 1fr 1fr 1fr 70px;
	grid-template-areas:
	"nav"
	"content-wrapper-one"
	"content-wrapper-two"
	"content-wrapper-three"
	"footer";
	height:250vw;
	position:relative;
	top:0;
	left:0;
	margin:-8px;
}

/*Navigation Bar*/
.navigation-bar{
	grid-area:nav;
	background-color:rgb(245,245,245);
	display:flex;
	flex-direction:right;
	justify-content:space-between;
	padding:20px;
	border-bottom:1px solid gray;
}

.left-side{
	display:flex;
	flex-direction:right;
}

.left-side > .nav-button {
	text-decoration:none;
	color:gray;
	transition:0.5s;
	margin:5px;
}

.left-side > .nav-button:hover {
	color:black;
	text-decoration:underline;
	font-size:17px;
}

#selected-button{
	color:black;
	text-decoration:underline;
	font-size:17px;
}

/*Content*/

.content-wrapper-one{
	grid-area:content-wrapper-one;
	background-color:skyblue;
	position:relative;
}

.content-wrapper-one > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-one > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}


.main-text{
	color:white;
	/*height:100%;
	width:100%;*/
	text-align:center;
	top:0%;
	position:relative;
	font-size:7vh;
	transition:1s;
}

.sub-text{
	color:transparent;
	text-align:center;
	font-size:2vh;
	transition:1s;
}


.darken-layer:hover > .main-text{
	font-size:8vh;
	color:white;
}

.darken-layer:hover > .sub-text{
	font-size:2vh;
	color:white;
}


.content-wrapper-two{
	grid-area:content-wrapper-two;
	background-color:cyan;
	position:relative;
}

.content-wrapper-two > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-two > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}

.content-wrapper-three{
	grid-area:content-wrapper-three;
	background-color:fuchsia;
	position:relative;
}

.content-wrapper-three > .main-image{
	height:100%;
	width:100%;
	position:absolute;
}

.content-wrapper-three > .darken-layer{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
	display:table;
}

.darken-layer{
	text-decoration:none;
}

.darken-layer:hover{
	background-color:rgba(0,0,0,0.5);
}

/*Footer*/

.footing{
	grid-area:footer;
	background-color:rgba(30,30,30,1);
	border-top:1px gray solid;
}

.footing-text{
	color:rgb(200,200,200);
	font-size:15px;
	text-align:center;
}


/*Abouts Page*/

/*Abouts Grid*/

.about-container{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:0.2fr 1fr 1fr 1fr 1.5fr 70px;
	grid-template-areas:
	"about-nav"
	"about-content-wrapper-one"
	"about-content-wrapper-two"
	"about-content-wrapper-three"
	"about-content-wrapper-four"
	"about-footer";
	height:180vh;
	position:relative;
	top:0;
	left:0;
	margin:-8px;
}

/*Abouts Navigation bar*/

.about-navigation-bar{
	grid-area:about-nav;
	background-color:rgb(245,245,245);
	display:flex;
	flex-direction:right;
	justify-content:space-between;
	padding:20px;
	border-bottom:1px solid gray;
}

.about-left-side{
	display:flex;
	flex-direction:right;
}

.about-left-side > .nav-button {
	text-decoration:none;
	color:gray;
	transition:0.5s;
	margin:5px;
}

.about-left-side > .nav-button:hover {
	color:black;
	text-decoration:underline;
	font-size:17px;
}

#selected-button{
	color:black;
	text-decoration:underline;
	font-size:17px;
}

/*Abouts Content*/

/*1 > About Me*/

.content-wrapper-zero-about{
	grid-area:about-content-wrapper-one;
	display:grid;
	grid-template-columns:1fr 1fr 1.3fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"about-text-zero about-text-zero about-image-zero";
	border-bottom:1px solid gray;
}

.about-image-zero{
	grid-area:about-image-zero;
	position:relative;
}

.about-image-zero > .darken-layer{
	width:100%;
	height:100%;
	background-color:rgb(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
}

.about-image-zero > .about-image-zero-img{
	width:100%;
	height:100%;
	position:absolute;
}

.about-image-zero:hover > .darken-layer{
	background-color:rgb(0,0,0,0.5);
}

.about-text-zero{
	grid-area:about-text-zero;
	background-color:rgb(40,40,40);
}

.about-image-zero > .darken-layer:hover > .sub-text{
	font-size:22px;
}



/*2 > Education*/

.content-wrapper-one-about{
	grid-area:about-content-wrapper-two;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"about-image-one about-text-one about-text-one";
	border-bottom:1px solid gray;
}

.about-image-one{
	grid-area:about-image-one;
	position:relative;
}

.about-image-one > .darken-layer{
	width:100%;
	height:100%;
	background-color:rgb(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
}

.about-image-one > .about-image-one-img{
	width:100%;
	height:100%;
	position:absolute;
}

.about-image-one:hover > .darken-layer{
	background-color:rgb(0,0,0,0.5);
}

.about-text-one{
	grid-area:about-text-one;
	background-color:rgb(40,40,40);
}

.about-image-one > .darken-layer:hover > .sub-text{
	font-size:22px;
}

/*3 > Qualifications*/

.content-wrapper-two-about{
	grid-area:about-content-wrapper-three;
	display:grid;
	grid-template-columns:1fr 1fr 1.3fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"about-text-two about-text-two about-image-two";
	border-bottom:1px solid gray;
}

.about-image-two{
	grid-area:about-image-two;
	position:relative;
}

.about-image-two > .darken-layer{
	width:100%;
	height:100%;
	background-color:rgb(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
}

.about-image-two > .about-image-two-img{
	width:100%;
	height:100%;
	position:absolute;
}

.about-image-two:hover > .darken-layer{
	background-color:rgb(0,0,0,0.5);
}

.about-text-two{
	grid-area:about-text-two;
	background-color:rgb(40,40,40);
}

.about-image-two > .darken-layer:hover > .sub-text{
	font-size:19px;
}

/*4 > Achievements*/

.content-wrapper-three-about{
	grid-area:about-content-wrapper-four;
	display:grid;
	grid-template-columns:1.3fr 1fr 1.3fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"about-image-three about-text-three about-text-three";
	border-bottom:1px solid gray;
}

.about-image-three{
	grid-area:about-image-three;
	position:relative;
}

.about-image-three > .darken-layer{
	width:100%;
	height:100%;
	background-color:rgb(0,0,0,0.2);
	transition:0.8s;
	position:absolute;
}

.about-image-three > .about-image-three-img{
	width:100%;
	height:100%;
	position:absolute;
}

.about-image-three:hover > .darken-layer{
	background-color:rgb(0,0,0,0.5);
}

.about-text-three{
	grid-area:about-text-three;
	background-color:rgb(40,40,40);
}

.about-image-three > .darken-layer:hover > .sub-text{
	font-size:17px;
}

/* Responsive grid layout */

@media all and (orientation:landscape){
	.container{
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows:60px 1fr 60px;
		grid-template-areas:
		"nav nav nav"
		"content-wrapper-one content-wrapper-two content-wrapper-three"
		"footer footer footer"
		;
                height:60vw
	}
	
}
